<%= content_tag :div, class: 'page-header' do %>
  <%= content_tag :h1 do %>
    My Homework
  <% end %>
<% end %>

<table class="table">
  <tr>
    <% if current_user.teacher? %>
      <th class="text-center">Student</th>
    <% end %>
    <th class="text-center">Title</th>
    <th class="text-center">Question</th>
    <th class="text-center">Due Date</th>
    <th class="text-center">Latest Answer</th>
    <th class="text-center"></th>
  </tr>
  <% if @assignments %>
    <% @assignments.each do |assignment| %>
      <tr>
        <% if current_user.teacher? %>
          <td><%= assignment.user.username %></td>
        <% end %>
        <td><%= assignment.homework.title %></td>
        <td><%= assignment.homework.question %></td>
        <td><%= assignment.homework.due_date %></td>
        <% if assignment.answers.exists? %>
          <td><%= assignment.answers[assignment.answers.length-1].answer %>
        <% else %>
          <td></td>
        <% end %>
        <% if current_user.student? %>
          <td><%= link_to "Answer", new_assignment_answer_url(assignment), class: "btn btn-primary"%></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
