<%= content_tag :div, class: 'page-header' do %>
  <%= content_tag :h1 do %>
    Homework
  <% end %>
<% end %>

<table class="table">
  <tr>
    <th class="text-center">Title</th>
    <th class="text-center">Question</th>
    <th class="text-center">Due Date</th>
    <th></th>
  </tr>
  <% if @homeworks %>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.title %></td>
        <td><%= homework.question %></td>
        <td class="text-center"><%= homework.due_date.strftime("%Y %m %d at %l:%M %p %Z") %></td>
        <% if current_user.teacher? %>
          <td class="text-center"><%= link_to "Details", homework_path(homework), class: "btn btn-primary"%></td>
        <% else %>
          <td class="text-center"><button type="button" class="btn btn-primary">Answer</button></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
